body {
  padding: 40px 0px 0px 0px;
  margin: 0px;
  font-family: 'Roboto Condensed';
  background-color: #fbfbf6;
}

a:hover,
a:focus {
  text-decoration: none !important;
}

.ancor {
  padding-top: 40px;
  marging-top: -40px;
}

.navbar-default {
  background-color: white;
  color: Black;
}

.navbar-default .navbar-brand {
  color: Black;
}

.navbar-default .navbar-brand:hover {
  color: #f7f30a;
}

.navbar-default .navbar-nav > li > a {
  color: Black;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #96bcdc;
  color: White;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  background-color: White;
  color: #f7f30a;
}

.jumbotron {
  color: White;
}

.block1 {
  background: #8ea0ac;
  color: White;
  max-width: 100%;
}

.block1 h1 {
  font-size: 60px;
}

.block1 p {
  font-size: 20px;
}

.block2 {
  background: #96bcdc;
  color: White;
  max-width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.block2 p {
  font-size: 18px;
  font-weight: light;
}

.block2 .btn {
  padding: 5px 20px 5px 20px;
  background: #8ea0ac;
}

.block2 .btn:hover {
  background: #337ab7;
  color: White;
}

#avatar {
  border: 5px solid #f7f30a;
  border-radius: 50%;
  width: 80%;
}

.yellow-text {
  color: #f7f30a;
}

section {
  border-bottom: 1px solid #f7f30a;
  padding-top: 30px;
  padding-bottom: 30px;
}

section h1 {
  color: #99acb9;
}

section p {
  font-size: 18px;
  font-weight: light;
}

section a {
  color: #99acb9;
}

section a:hover {
  color: #f7f30a;
}

section a:visited {
  color: #337ab7;
}

section a:visited:hover {
  color: #f7f30a;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

footer {
  color: White;
  background-color: #8ea0ac;
  padding: 20px 0px 10px 0px;
}

footer p {
  font-size: 16px;
}

footer a:hover {
  color: #f7f30a;
}

.img {
  box-shadow: 3px 3px 10px #888888;
}
